.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 50;
  
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  
      .image {
        display: flex;
        align-items: center;
      }
  
      .link {
        display: flex;
        gap: 20px; // Espaçamento entre os links
  
        a {
          font-size: 1.2rem;
          text-decoration: none;
          color: black;
  
          &:hover {
            box-shadow: 1px 1px rgb(236, 169, 43),
            2px 2px rgb(236, 169, 43), 
            3px 3px rgb(236, 169, 43),
            4px 4px rgb(236, 169, 43),
            5px 5px rgb(236, 169, 43),
            6px 6px rgb(236, 169, 43),
            2px 2px rgb(236, 169, 43);
            transform: translateX(-3px);
          }
        }
      }
    }
  }
  