.containerFinal {
    position: relative;
    top: 13rem;
    margin-left: 20rem;

}
.Ofertas {
    text-align: center;
    position: relative;
    left: -8.5rem;

    h2 {
        font-size: 16px;       
        color: #B3B3B3;        
        font-weight: 300;      
        margin-bottom: 0;       
    }

    p {
        font-size: 48px;     
        color: #000;            
        font-family: 'Georgia', serif; 
        font-weight: 900;     
        margin-top: 0;          
        line-height: 1.2;       
    }
}
